.hero {
  position: relative;
  min-height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.title {

  padding-top:15vh;
  padding-bottom: 5vh;

}

.title h2 {

  font-size: clamp(1.5rem, 2.5vw, 4.5rem);

}

.gallery {
  display: flex;
  object-position: center;
  margin-inline: auto;
  width: auto;
  height: 80vh;
  object-fit: cover;

}

@media (max-width: 768px) {

  .gallery {
    height: 42vh;
    max-height: 420px;
  }

}